/* * {
  cursor: url("https://i.ibb.co/zWnFp9kn/heart-1.png") 16 16, auto !important;
}
*/
* {
  cursor: none;
}

body {
  background-color: #fff0f5;
  color: #333;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Montserrat';
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding-top: 0%;
  overflow-x: hidden;
}

.body2 {
  background-color: #fff0f5;
  color: #333;

  font-family: 'Montserrat';
  text-align: left;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 0%;
  margin: 0;
  width: 100vw;
}

h1 {
  font-family: 'My Soul', cursive;
  color: #e91e63;
  font-size: 2.5em;
  text-shadow: 0 0 0px rgba(0,0,0,0.5);
}

button {
  font-family: 'My Soul', cursive;
  padding: 1% 1%;
  background-color: #ff69b4;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1em;
}

button:hover {
  background-color: #e91e63;
}

img {
  border-radius: 2vw;
}

/* Create a function to cycle through images */

.fadein img {
    position:absolute;
    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
    background-color: lightblue;
}
#f2 {
    -webkit-animation-delay: -4s;
    background-color: yellow;
}
#f3 {
    -webkit-animation-delay: -2s;
    background-color: lightgreen;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  image-rendering: crisp-edges;
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 3%;
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);

  /* Animation */
  animation-name: slideUp;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.modal-image {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  max-height: 70vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 10px;


  animation-name: slideUp;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close-image {
  color: #aaa;
  float: right;
  font-size: 28px;
  opacity: 0;
}

.close:hover {
  color: #e91e63;
}

.close-image:hover {
  color: #e91e63;
}

.rectangle {
  width: 100vw;
  height: 72vh;
  background-color: lightgray;
  position: relative;
  text-align: left;

  margin-left: 0;
  margin-right: auto;

  padding: 0;
  box-sizing: border-box;
  display: block;
}

.rectangle_2 {
  width: 100vw;
  height: 72vh;
  background-color: black;
  position: relative;
  text-align: right;

  margin-left: 0;
  margin-right: auto;

  padding: 0;
  box-sizing: border-box;
  display: block;
}

.overlay-image {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
}

.overlay-text {
  position: absolute;
  top: 87%;
  left: 280px;
  transform: translate(-50%,-50%);
  width: 500px;
  color: black;
  font-size: 24px;
  font-family: "Montserrat", cursive;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
  pointer-events: none;
  text-align: left;
}

@keyframes slideUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* This is to change the appearance of the cursor to a heart */
#heartCursor {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none; /* so clicks pass through */
  background: url("https://i.ibb.co/zWnFp9kn/heart-1.png") no-repeat center center;
  background-size: contain;
  animation: beat 1s infinite;
  transform-origin: center;
  z-index: 9999;
  will-change: transform;
}

/* This is for when the cursor hovers over an interactable */
#heartCursor.fish {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  background: url("https://i.ibb.co/234HTGjM/fish.png") no-repeat center center;
  background-size: contain;
  animation: beat 1s infinite;
  transform-origin: center;
  z-index: 9999;
  will-change: transform;
}

#rcorners3 {
  border-radius: 2vw;
  background: url(https://i.ibb.co/F4PfyS2k/6-D9-D0038-CF00-43-A6-BCAE-0-FA8-D44-EF355.jpg);
  background-position: left top;
  background-repeat: repeat;
  padding: 2vw;
  width: 4vw;
  height: 3vh;
}

.container {
  width: 90vw;
  margin: auto;
  text-align: center;
}

/* Create a function to display things inline */
.inline-block {
  display: inline-block;
  width: 45vw;
  vertical-align: bottom;
  box-sizing: border-box;
}

.row {
  position: relative;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: 100vw;
  padding: 0px;
  box-sizing: border-box;
}

.right {
  position: absolute;
  right: 2vw;
  margin: 0;
  text-align: right;
}

.centered {
  margin: 0 auto;
}

.shrink-on-hover {
  position: absolute;
  top: 45%;
  left: 20%;
  transform-origin: center;
  transition: transform 0.3s ease;
  transform: translate(-50%,-50%);
}

.shrink-on-hover:hover {
  transform: translate(-50%, -50%) scale(0.9);
}

@keyframes beat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.3); }
}

@keyframes shrink {
  0% { transform: scale(1); }
  100% { transform: scale(0.75); }
}

/* Hide native cursor */
body {
  cursor: none;
}

/*.glow {

  -webkit-box-shadow:0px 0px 111px 5px rgba(255,255,255,0.9);
  -moz-box-shadow: 0px 0px 111px 5px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 111px 5px rgba(255,255,255,0.9);

}
*/